@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: 'SignericaMedium';
    src: url('./font/signerica\ wfont/SignericaMedium.svg#SignericaMedium') format('svg'),
         url('./font/signerica\ wfont/SignericaMedium.ttf') format('truetype'),
         url('./font/signerica\ wfont/SignericaMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProductSans-Regular';
    src: url('./font/Productsanswfont/ProductSans-Regular.svg#ProductSans-Regular') format('svg'),
         url('./font/Productsanswfont/ProductSans-Regular.ttf') format('truetype'),
         url('./font/Productsanswfont/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 62.5%;
}

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
    .phrase h2{font-size: 8rem; line-height: 10rem;}
    .phrase p{font-size: 2.5rem;}

}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .phrase h2{font-size: 7rem; line-height: 9rem;}
    .phrase p{font-size: 2.3rem;}
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { 
    .phrase h2{font-size: 4rem; line-height: 6rem;}
    .phrase p{font-size: 1.5rem;}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(./이미지/무비끄맨_가운데.png);
}

.phrase{
    position: absolute;
    top: 38vh;
    left: 5vw;
    text-align: left;
}

.phrase h2{
    font-family: 'SignericaMedium', sans-serif;
    font-weight: bolder;
    color: white;
    opacity: 0;
    animation: fadeIn 1s 0.2s ease-in-out forwards;
}

.phrase p{
    color: white;
    font-family: 'ProductSans-Regular', sans-serif;
    opacity: 0;
    animation: fadeIn 1s 0.2s ease-in-out forwards;
}