@font-face{
    font-family: abster;
    src:url(./font/abster-webfont.woff) format('woff')
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: white;
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1){
    top:0;
}

input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3){
    bottom: 0%;
}

input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    width:300px;
    height:100%;
    background:rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    right:-300px;
    z-index:1;
    transition:all .5s;
}

input[id="menuicon"]:checked + label + div {
    right:0;
}

.header .sidebar ul{
    display: block;
    position: absolute;
    top:90px;
    left: 30px;
    list-style:none;
    color: white;
}

.header .sidebar ul li{
    margin-bottom: 50px;
    font-size: 40px;
    font-family: abster, sans-serif;
    color: white;
}

.header .sidebar ul li a:link{
    text-decoration: none;
    color:white;
}

.header .sidebar ul li a:visited{
    color:white; 
    text-decoration: none;
}
