@font-face{
    font-family: abster;
    src:url(./font/abster-webfont.woff) format('woff')
}

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
    .header .sidebar ul li{font-size: 40px; margin-bottom: 50px;}
    div[class='sidebar'] {width:300px; right:-300px;}

}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .header .sidebar ul li{font-size: 33px; margin-bottom: 43px;}
    div[class='sidebar'] {width:250px; right:-250px;}
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { 
    .header .sidebar ul li{font-size: 25px; margin-bottom: 35px;}
    div[class='sidebar'] {width:200px; right:-200px;}
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: white;
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1){
    top:0;
}

input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3){
    bottom: 0%;
}

input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    height:100%;
    background:rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    z-index:1;
    transition:all .5s;
}

input[id="menuicon"]:checked + label + div {
    right:0;
}

.header .sidebar ul{
    display: block;
    position: absolute;
    top:90px;
    left: 30px;
    list-style:none;
    color: white;
}

.header .sidebar ul li{
    font-family: abster, sans-serif;
    color: white;
}

.header .sidebar ul li a:link{
    text-decoration: none;
    color:white;
}

.header .sidebar ul li a:visited{
    color:white; 
    text-decoration: none;
}
