@font-face {
  font-family: 'Product Sans Regular';
  src: url('Product Sans Regular.eot');
  src: url('Product Sans Regular.eot?#iefix') format('embedded-opentype'),
       url('Product Sans Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans-Regular';
  src: url('ProductSans-Regular.svg#ProductSans-Regular') format('svg'),
       url('ProductSans-Regular.ttf') format('truetype'),
       url('ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

