/*Fade-in 효과*/
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
/*abster*/
@font-face{
    font-family: abster;
    src:url(../font/abster-webfont.woff) format('woff');
}
/*Product Sans*/
@font-face {
    font-family: 'ProductSans-Regular';
    src:url('../font/Productsanswfont/ProductSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Dynalight*/
@font-face {
    font-family: 'Dynalight-Regular';
    src:url('../font/dynalightwfont/Dynalight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*마루부리*/
@font-face {
    font-family: 'MARUBuriBeta-Regular';
    src:url('../font/마루/MARUBuriBeta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
    .header { height: 300px; }
    .title { font-size: 8rem; }
    .main ul > li { width: 33%;}
    .main ul > li > a .box{ height: 386px;}
    .box .text{font-size: 6rem;}
    .box .movie{font-size: 4rem; left: 25px;}
    .box .name{font-size: 2rem; left: 25px;}
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .header { height: 300px; }
    .title { font-size: 7rem; }
    .main ul > li { width: 33%;}
    .main ul > li > a .box{ height: 280px;}
    .box .text{font-size: 5rem;}
    .box .movie{font-size: 3rem; left: 15px;}
    .box .name{font-size: 1.8rem; left: 15px;}
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { 
    .header { height: 200px; }
    .title { font-size: 4rem; }
    .main ul > li { width: 49%;}
    .main ul > li > a .box{ height: 166px;}
    .box .text{font-size: 3rem;}
    .box .movie{font-size: 2rem; left: 8px;}
    .box .name{font-size: 1.5rem; left: 8px;}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)),url(./이미지/무비끄맨_가운데.png);
}

.header{
    position: relative;
}

.header .title{
    background: none;
    font-family: abster, sans-serif;
    color: white;
    display: block;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.main ul > li {
    display: inline-block;
    vertical-align: top;
}

.main ul > li > a{
    display: block;
    width: auto;
    text-decoration: none;
    margin: 5px;
}

.main ul > li > a .box{ 
    position: relative;
    font-family: 'ProductSans-Regular', sans-serif;
    border: 2px solid white;
    overflow: hidden;
}

.main .box .text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dynalight-Regular', sans-serif;
    color: white;
}
  
.box .movie{
    color: white;
    font-weight: 900;
    font-family: 'MARUBuriBeta-Regular', sans-serif;
    position: absolute;
    bottom: 150%;
}

.box .name{
    color: white;
    font-weight: 100;
    font-family: 'MARUBuriBeta-Regular', sans-serif;
    position: absolute;
    top: 150%;
}
  
.box:hover{
    cursor: pointer;
}
  
.box:hover > .text{
    opacity: 0;
}
  
.box:hover > .movie{
    bottom: 52%;
    transition: all 0.4s;
}

.box:hover > .name{
    top: 52%;
    transition: all 0.4s;
}

.Gandalf{
    opacity: 0;
    animation: fadeIn 1s 0.2s ease forwards;
}

.Gandalf:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/간달프.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Joker{
    opacity: 0;
    animation: fadeIn 1s 0.5s ease forwards;
}

.Joker:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/히스레저조커.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Olivia{
    opacity: 0;
    animation: fadeIn 1s 0.3s ease forwards;
}

.Olivia:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/올리비아.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Flash{
    opacity: 0;
    animation: fadeIn 1s 0.3s ease forwards;
}

.Flash:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/플래쉬.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Latso{
    opacity: 0;
    animation: fadeIn 1s 0.6s ease forwards;
}

.Latso:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/랏소.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Frank{
    opacity: 0;
    animation: fadeIn 1s 0.2s ease forwards;
}

.Frank:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/프랭크.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Josse{
    opacity: 0;
    animation: fadeIn 1s 0.4s ease forwards;
}

.Josse:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/조제.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Groot{
    opacity: 0;
    animation: fadeIn 1s 0.2s ease forwards;
}

.Groot:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/groot정.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Farhan{
    opacity: 0;
    animation: fadeIn 1s 0.5s ease forwards;
}

.Farhan:hover{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../image/파르한정.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}